{% extends 'navbar.html' %}
{% block start %}

<div class="contrainer-fluid">
    <form class="col-12" method="post">
        {% csrf_token %}
        <div class="row col-12">
            <div class="col-12">
                <b>Party/create</b>
            </div>
            <div class="col-12">
                <input type="submit" class="btn btn-primary btn-sm" value="Submit">
                <a href="/master/partylist/"><input type="button" class="btn btn-primary btn-sm" value="List"></a>
                <input type="reset" class="btn btn-primary btn-sm" value="Discard">
            </div>
        </div>
        <div class="row container-fluid col-12 p-0 m-0 mb-4">
            <div class="form-group m-0 col-12 col-sm-6 col-md-3">
                <span class="col-form-label-sm">Party Type</span>
                <select type="text" class="form-control-sm form-control" required name="partytype">
                    <option value="">Select</option>
                    <option value="Agent">AGENT</option>
                    <option value="Vendor">VENDOR</option>
                    <option value="Customer">CUSTOMER</option>
                </select>
            </div>
            <div class="form-group m-0 col-12 col-sm-6 col-md-3">
                <span class="col-form-label-sm">Code</span>
                <input type="text" class="form-control-sm form-control" name="code">
            </div>
            <div class="form-group m-0 col-12 col-sm-6 col-md-3">
                <span class="col-form-label-sm">Group</span>
                <input type="text" class="form-control-sm form-control" name="group">
            </div>
            <div class="form-group m-0 col-12 col-sm-6 col-md-3">
                <span class="col-form-label-sm">Expense Type</span>
                <input type="text" class="form-control-sm form-control" name="expensetype">
            </div>
            <div class="form-group m-0 col-12 col-sm-6 col-md-6">
                <span class="col-form-label-sm">Party Name</span>
                <input type="text" class="form-control-sm form-control" onkeyup="this.value = this.value.toUpperCase();"
                    name="partyname">
            </div>
            <div class="form-group m-0 col-12 col-sm-6 col-md-3">
                <span class="col-form-label-sm">Controlling Branch</span>
                <input type="text" class="form-control-sm form-control" name="controllingbranch">
            </div>
            <div class="form-group m-0 col-12 col-sm-6 col-md-3">
                <span class="col-form-label-sm">Parent Account</span>
                <input type="text" class="form-control-sm form-control" name="parentaccount">
            </div>
        </div>
    </form>
</div>

<script>
    // Ensure autocompleteResults is defined in a scope accessible to change event
    var autocompleteResults = [];

    $(function () {
        $("#nameco").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/administrations/get_user_list/",  // URL to your Django view
                    data: {
                        search: request.term
                    },
                    success: function (data) {
                        autocompleteResults = data.payload;
                        // console.log(autocompleteResults)
                        response(autocompleteResults.map(item => item.first_name));
                    }
                });
            },
            minLength: 1,
            change: function (event, ui) {
                const inputValue = $(this).val();
                console.log("inputValue is : " + inputValue)
                if (!ui.item) {
                    console.log("ui.item is : " + ui.item)
                    // The entered value is not match input field with suggestion
                    console.log("Input value don't match with suggestion");
                    // Add your validation or other actions here
                    // Check if inputValue doesn't match with any autocomplete result
                    if (!autocompleteResults.some(result => result.name === inputValue)) {
                        console.log("Input value doesn't match with any autocomplete result");
                        // Clear the input value
                        $(this).val('');
                        // Add your validation or other actions here
                    }
                }
            }
        });
    });
</script>

<div>
    <div class="tablink" onclick="openCity('General', this, 'red')" id="defaultOpen">General</div>
    <div class="tablink" onclick="openCity('Contact', this, 'green')">Contact Person</div>
    <div class="tablink" onclick="openCity('Address', this, 'blue')">GST and Address</div>
    <div class="tablink" onclick="openCity('Payment', this, 'orange')">Payment Terms</div>
    <div class="tablink" onclick="openCity('Attachments', this, 'orange')">Attachments</div>

    <div id="General" class="tabcontent">
        <div class="row container-fluid col-12 p-0 m-0 mb-4">
            <div class="form-group m-0 col-12 col-sm-6 col-md-3">
                <span class="col-form-label-sm">Name</span>
                <input type="text" class="form-control-sm form-control" name="contactperson">
            </div>
            <div class="form-group m-0 col-12 col-sm-6 col-md-3">
                <span class="col-form-label-sm">Mobile</span>
                <input type="text" class="form-control-sm form-control" maxlength="10" name="mobilenumber">
            </div>
            <div class="form-group m-0 col-12 col-sm-6 col-md-3">
                <span class="col-form-label-sm">Email</span>
                <input type="text" class="form-control-sm form-control" onkeyup="this.value = this.value.toLowerCase();"
                    name="email">
            </div>
            <div class="form-group m-0 col-12 col-sm-6 col-md-3">
                <span class="col-form-label-sm">Website</span>
                <input type="text" class="form-control-sm form-control" name="website">
            </div>
            <div class="form-group m-0 col-12 col-sm-6 col-md-3">
                <span class="col-form-label-sm">User ID</span>
                <input type="text" class="form-control-sm form-control" onkeyup="this.value = this.value.toLowerCase();"
                    name="userid">
            </div>
            <div class="form-group m-0 col-12 col-sm-6 col-md-3">
                <span class="col-form-label-sm">Password</span>
                <input type="password" class="form-control-sm form-control" name="password">
            </div>
            <div class="form-group m-0 col-12 col-sm-6 col-md-3">
                <span class="col-form-label-sm">Type of Business</span>
                <input type="text" class="form-control-sm form-control" name="typeofbusiness">
            </div>
            <div class="form-group m-0 col-12 col-sm-6 col-md-3">
                <span class="col-form-label-sm">Remark</span>
                <input type="text" class="form-control-sm form-control" name="general_remark">
            </div>
        </div>
    </div>
    <div id="Contact" class="tabcontent">
        <div class="row container-fluid col-12 p-0 m-0 mb-4">
            <div class="form-group m-0 col-12 col-sm-6 col-md-3">
                <span class="col-form-label-sm">Name</span>
                <input type="text" class="form-control-sm form-control" id="nameco"
                    onkeyup="this.value = this.value.toUpperCase();" name="nameco">
            </div>
            <div class="form-group m-0 col-12 col-sm-6 col-md-3">
                <span class="col-form-label-sm">Mobile</span>
                <input type="text" class="form-control-sm form-control" maxlength="10" name="mobileco">
            </div>
            <div class="form-group m-0 col-12 col-sm-6 col-md-3">
                <span class="col-form-label-sm">Department</span>
                <input type="text" class="form-control-sm form-control" name="departmentco">
            </div>
            <div class="form-group m-0 col-12 col-sm-6 col-md-3">
                <span class="col-form-label-sm">Branch</span>
                <input type="text" class="form-control-sm form-control" name="branchco">
            </div>
        </div>
    </div>

    <!-- GST & Address -->
    <div id="Address" class="tabcontent">
        <div class="table-responsive">
            <table class='table table-sm' id="dataTable">
                <thead>
                    <tr>
                        <th scope='col'>State</th>
                        <th scope='col'>GSTIN</th>
                        <th scope='col'>Registration Type</th>
                        <th scope='col'>Default GST</th>
                        <th scope='col'>Service Type</th>
                        <th scope='col'>Address Details</th>
                        <th scope='col'>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- State -->
                        <td><input type="text" class="form-control-sm form-control" style="width: 150px;"
                                onkeyup="this.value = this.value.toUpperCase();" name="state[]"></td>
                        <!-- GSTIN -->
                        <td><input type="text" class="form-control-sm form-control" style="width: 150px;"
                                onkeyup="this.value = this.value.toUpperCase();" name="gstin[]"></td>
                        <!-- Registration Type -->
                        <td>
                            <select type="text" class="form-control-sm form-control" style="width: 150px;"
                                name="registration_type[]">
                                <option value="">Select</option>
                                <option value="Registered-Regular">Registered-Regular</option>
                                <option value="Unregistered">Unregistered</option>
                                <option value="Consumer">Consumer</option>
                                <option value="SEZ Without Payment">SEZ Without Payment</option>
                                <option value="UIN Holder">UIN Holder</option>
                            </select>
                        </td>
                        <!-- Default GST -->
                        <td><input type="text" class="form-control-sm form-control" style="width: 150px;"
                                name="default_gst[]"></td>
                        <!-- Service Type -->
                        <td>
                            <select type="text" class="form-control-sm form-control" style="width: 150px;"
                                name="service_type[]">
                                <option value="">Select</option>
                                <option value="1">GOODS</option>
                                <option value="2">SERVICE</option>
                            </select>
                        </td>
                        <!-- Address Detail -->
                        <td>


                            <div class="table-responsive">
                                <table class="table table-sm" id="dataTable1">
                                    <thead>
                                        <tr>
                                            <th scope='col'>Warehouse Code</th>
                                            <th scope='col'>Address</th>
                                            <th scope='col'>City</th>
                                            <th scope='col'>PIN Code</th>
                                            <th scope='col'>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Code -->
                                        <td><input type="text" class="form-control-sm form-control"
                                                style="width: 150px;" name="warehouse_code[]"></td>
                                        <!-- Address -->
                                        <td><input type="text" class="form-control-sm form-control"
                                                style="width: 150px;" name="gst_address[]"></td>
                                        <!-- City -->
                                        <td><input type="text" class="form-control-sm form-control"
                                                style="width: 150px;" name="gst_city[]"></td>
                                        <!-- PIN Code -->
                                        <td><input type="text" class="form-control-sm form-control"
                                                style="width: 150px;" name="gst_pin_code[]"></td>
                                        <!-- Action -->
                                        <td>
                                            <button type="button" class="btn btn-primary btn-sm"
                                                onclick="addAddressDetail(this)">
                                                <i class="bi bi-plus-circle"></i>
                                            </button>
                                        </td>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                        <!-- Action -->
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" onclick="GstDetailAddRow()">
                                <i class="bi bi-plus-circle"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <script>
        function GstDetailAddRow() {
            var table = document.getElementById("dataTable");
            var row = table.insertRow();
            var rowContent = "";
            rowContent += `
            <!-- State -->
            <td><input type="text" class="form-control-sm form-control" style="width: 150px;" onkeyup="this.value = this.value.toUpperCase();" name="state[]" ></td>
            <!-- GSTIN -->
            <td><input type="text" class="form-control-sm form-control" style="width: 150px;" onkeyup="this.value = this.value.toUpperCase();" name="gstin[]"></td>
            <!-- Registration Type -->
            <td>
                <select type="text" class="form-control-sm form-control" style="width: 150px;" name="registration_type[]">
                    <option value="">Select</option>
                    <option value="Registered-Regular">Registered-Regular</option>
                    <option value="Unregistered">Unregistered</option>
                    <option value="Consumer">Consumer</option>
                    <option value="SEZ Without Payment">SEZ Without Payment</option>
                    <option value="UIN Holder">UIN Holder</option>
                </select>
            </td>
            <!-- Default GST -->
            <td><input type="text" class="form-control-sm form-control" style="width: 150px;" name="default_gst[]"></td>
            <!-- Service Type -->
            <td>
                <select type="text" class="form-control-sm form-control" style="width: 150px;" name="service_type[]">
                    <option value="">Select</option>
                    <option value="1">GOODS</option>
                    <option value="2">SERVICE</option>
                </select>
            </td>
            <!-- Address Detail -->
            <td>

                <div class="table-responsive">
                    <table class="table table-sm" id="dataTable2">
                        <thead>
                            <tr>
                                <th scope='col'>Warehouse Code</th>
                                <th scope='col'>Address</th>
                                <th scope='col'>City</th>
                                <th scope='col'>PIN Code</th>
                                <th scope='col'>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Code -->
                            <td><input type="text" class="form-control-sm form-control" style="width: 150px;" name="warehouse_code[]" ></td>
                            <!-- Address -->
                            <td><input type="text" class="form-control-sm form-control" style="width: 150px;" name="gst_address[]"></td>
                            <!-- City -->
                            <td><input type="text" class="form-control-sm form-control" style="width: 150px;" name="gst_city[]" ></td>
                            <!-- PIN Code -->
                            <td><input type="text" class="form-control-sm form-control" style="width: 150px;" name="gst_pin_code[]"></td>
                            <!-- Action -->
                            <td>
                                <button type="button" class="btn btn-primary btn-sm" onclick="addNewAddressDetail(this)">
                                    <i class="bi bi-plus-circle"></i>
                                </button> 
                            </td>
                        </tbody>
                    </table>
                </div>


            </td>
            <!-- Action -->
            <td>
                <button type="button" class="btn btn-danger btn-sm" onclick="deleteRow(this)">
                    <i class="bi bi-dash-circle"></i>
                </button>
            </td>
            `;
            row.innerHTML = rowContent;

        }

        function addNewAddressDetail(button) {
            var table = button.closest(".dataTable2");
            var newRow = table.insertRow();
            var rowAddressContent = "";
            rowAddressContent = `
                <!-- Code -->
                <td><input type="text" class="form-control-sm form-control" style="width: 150px;" name="warehouse_code[]" ></td>
                <!-- Address -->
                <td><input type="text" class="form-control-sm form-control" style="width: 150px;" name="gst_address[]"></td>
                <!-- City -->
                <td><input type="text" class="form-control-sm form-control" style="width: 150px;" name="gst_city[]" ></td>
                <!-- PIN Code -->
                <td><input type="text" class="form-control-sm form-control" style="width: 150px;" name="gst_pin_code[]"></td>
                <!-- Action -->
                <td>
                    <button type="button" class="btn btn-danger btn-sm" onclick="deleteRow(this)">
                        <i class="bi bi-dash-circle"></i>
                    </button>
                </td>`;
            newRow.innerHTML = rowAddressContent;
        }

        function addAddressDetail() {
            console.log('addAddressDetail', addAddressDetail)
            var table = document.getElementById("dataTable1");
            var addressRow = table.insertRow();
            var addressRowContent = "";
            addressRowContent += `
                <!-- Code -->
                <td><input type="text" class="form-control-sm form-control" style="width: 150px;" name="warehouse_code[]" ></td>
                <!-- Address -->
                <td><input type="text" class="form-control-sm form-control" style="width: 150px;" name="gst_address[]"></td>
                <!-- City -->
                <td><input type="text" class="form-control-sm form-control" style="width: 150px;" name="gst_city[]" ></td>
                <!-- PIN Code -->
                <td><input type="text" class="form-control-sm form-control" style="width: 150px;" name="gst_pin_code[]"></td>
                <!-- Action -->
                <td>
                    <button type="button" class="btn btn-danger btn-sm" onclick="deleteRow(this)">
                        <i class="bi bi-dash-circle"></i>
                    </button>
                </td>
            `;
            addressRow.innerHTML = addressRowContent;
        }


        function deleteRow(button) {
            var row = button.parentElement.parentElement;
            row.remove();
        }
    </script>
    <div id="Payment" class="tabcontent">
        <h1>Payment Terms</h1>
        <p>Oslo is the capital of Norway.</p>
    </div>
    <div class="tabcontent" id="Attachments">
        <h1>Attachments</h1>
        <p>Attach you party documents</p>
    </div>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
            role="tab" aria-controls="home" aria-selected="true">Home</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
            role="tab" aria-controls="profile" aria-selected="false">Profile</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
            role="tab" aria-controls="contact" aria-selected="false">Contact</button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Home</div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Profile</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Contact</div>
</div>

<style>
    /* Style the tab buttons */
    .tablink {
        background-color: #555;
        color: white;
        float: left;
        border: 1px solid white;
        outline: none;
        cursor: pointer;
        padding: 6px 10px;
        /* font-size: 17px; */
        width: 20%;
    }

    /* Change background color of buttons on hover */
    .tablink:hover {
        background-color: #777;
    }

    /* Set default styles for tab content */
    .tabcontent {
        /* color: white; */
        display: none;
        /* padding: 50px; */
        /* text-align: center; */
    }

    /* Style each tab content individually
    #General {background-color:red;}
    #Contact {background-color:green;}
    #Address {background-color:blue;}
    #Payment {background-color:orange;} */
</style>

<script>
    function openCity(cityName, elmnt, color) {
        // Hide all elements with class="tabcontent" by default */
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        // Remove the background color of all tablinks/buttons
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }
        // Show the specific tab content
        document.getElementById(cityName).style.display = "block";
        // Add the specific color to the button used to open the tab content
        elmnt.style.backgroundColor = '#777';
    }
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>

{% endblock %}