{% extends 'mychatapp/base.html' %}

{% block content %}

<style>
    .forms{
        border: 1px solid slateblue;
        width: 100%;
        border-radius: 5px;
        padding: 10px 10px;
        font-size: 18px;
    }
</style>
<div class="chat-container2">

    
    <div class="identity">
        <div>
            <a href="{% url 'index' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                </svg>
            </a>
        </div>

        <!-- <h3>John Doe</h3> -->
        <h3>{{friend.profile.name}}</h3>

        <div class="pic">
            
        </div>
    </div>

    <div class="sub-container">

        <div class="chat-body" id="chat-body">

            {% for chat in chats %}

                {% if chat.msg_sender == user and chat.msg_receiver == profile %}
                    <div>
                        by me : {{ chat }}
                    </div>
                {% elif chat.msg_sender == profile and chat.msg_receiver == user %}
                    <div>
                        by user : {{ chat }}
                    </div>
                {% endif %}
            {% endfor %}

            <div class="chat-box-sent" id="chat-box-sent" style="display: none;">
    
            </div>

        </div>

        <form action="" id="myForm" method="POST">
            {% csrf_token %}

            {{ form }}
            <button type="submit" id="submit">Send</button>
        </form>
    </div>
</div>

<script>

    /* Django csrf_token */
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
    /* end Django csrf_token */

    let form = document.getElementById('myForm');
    form.addEventListener('submit', sendChat);

    // Send APIs for sent msg without reload the page
    function sendChat(e) {
        e.preventDefault();
        let chatMessage = document.getElementById('id_body').value;
        console.log(chatMessage);

        let requestData = { msg: chatMessage }; // Correct structure

        /* Uploading JSON data */
        let url = "{% url 'sent_msg' friend.profile.id %}";

        async function postJSON(data) {
            try {
                const response = await fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        'X-CSRFToken': csrftoken
                    },
                    body: JSON.stringify(data),
                });
                const result = await response.json();
                console.log("Success:", result);

                // without page reloading show current text msg
                let chat_body = document.getElementById('chat-body')
                let chatMessageBox = document.createElement("div")
                chatMessageBox.classList.add("chat-box-sent")
                chatMessageBox.innerText = result
                chat_body.append(chatMessageBox)
                document.getElementById("id_body").value = ""

            } catch (error) {
                console.error("Error:", error);
            }
        }

        postJSON(requestData); // Use the correct variable name here
    }


    // fetch api for receive messages without reloading the page

    setInterval(receiveMessages, 3000);

    let counter = {{num}}
    function receiveMessages() {
        let url = "{% url 'rec_msg' friend.profile.id %}";

        async function getJSON() {
            try {
                const response = await fetch(url, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });
                const result = await response.json();
                console.log("Success:", result);

                if(result.length == 0) {

                }
                else {
                    lastMsg = result[result.length-1]
                    if(counter == result.length) {
                        console.log('There is no new chat ')
                    }
                    else {
                        let chat_body = document.getElementById('chat-body')
                        let chatMessageBox = document.createElement("div")
                        chatMessageBox.classList.add("chat-box-received")
                        chatMessageBox.innerText = lastMsg
                        chat_body.append(chatMessageBox)
                        // document.getElementById("id_body").value=""
                    }
                }
                counter = result.length
            } catch (error) {
                console.error("Error:", error);
            }
        }

        getJSON();
}

</script>

{% endblock %}